body {
    margin: 0;
}
/* hero контейнер
.hero {
    position: relative;
} */
/* иконките върху снимката */
.footer-socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-socials img {
    width: 30px;
    transition: 0.3s;
}

.footer-socials img:hover {
    transform: scale(1.2);
}